.App {
  text-align: center;
}

main {
  max-width: 60%;
  margin: 0 auto;
}

input[type="text"] {
  padding: 10px 16px;
  font-size: 16px;
  box-shadow: rgb(0 0 0 / 7%) 0px 0.5rem 1.5rem;
  border: 1px solid rgba(83, 83, 110, 0.25);
  border-radius: 20px;
  width: 350px;
  margin: 20px;
}

input[type="text"]:hover {
  box-shadow: rgb(0 0 0 / 7%) 0px 0.5rem 1.5rem;
}

input:hover, input:focus {
  border: 1px solid #dfe1e5;
  outline: 0;
  box-shadow: none;
}

input[type="text"]:focus-within {
  box-shadow: rgb(0 212 255 / 25%) 0px 0px 4px, rgb(0 0 255 / 15%) 0px 4px 31px;
    border-color: rgb(74, 114, 245);
}

input[type="submit"] {
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  padding: 0 16px;
  height: 38px;
  font-size: 14px;
  cursor: pointer;
}

.search-results {
  text-align: left;
  white-space: pre-wrap;
  line-height: 24px;
}
